.card{
    margin: 3% 30%;
    background: linear-gradient(to right, skyblue , pink, rgb(188, 233, 26));
    max-width: 400px;
    text-align: center;
    padding: 2%;
    border-radius: 15px;
    
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 2px 31px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: linear-gradient(to right, skyblue , pink, yellow);
    border-radius: 30%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
width: 35px;
}
.Weather-icon{
    width:150px;
    

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    
}
.col{
    display: flex;

}
.col > div{
    margin-left: 11%;
}


